extends layout

block content
  h1= title

  ul
  each author in author_list
    li
      a(href=author.url) #{author.name}
      if author.date_of_birth_plain_text_formatted.length > 0
        |  (#{author.date_of_birth_plain_text_formatted} 
      else 
        |  (Unknown Date
      if author.date_of_death_plain_text_formatted.length > 0
        | - #{author.date_of_death_plain_text_formatted})
      else
        | - Unknown Date)

  else
    li There are no authors.